Applying the regressors to output infrared fluxes in the whole atmosphere. This is flawed since TOALW is not one of the inputs (unlike TOASW).

In [1]:
import xarray as xr
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
dataDIR = 'af'
DS = xr.open_dataset(dataDIR)

In [3]:
albedo = DS.ALBEDO.values

In [4]:
albedo.shape #days, latitude, longtitude

(71, 36, 72)

In [5]:
albedo2 = np.zeros([71,53,36,72])
albedo2.shape

(71, 53, 36, 72)

In [6]:
for i in range(53):
    albedo2[:,i,:,:] = albedo #need height dimension too

In [7]:
d_c = DS.TAU_OD.values

In [8]:
d_c.shape

(71, 52, 36, 72)

In [9]:
tsf = DS.TOALW.values #top solar flux for infrared

In [10]:
tsf.shape

(71, 36, 72)

In [11]:
msf = DS.DOWNIRFLUX.values #whole atmosphere down infrared flux

In [12]:
msf.shape

(71, 53, 36, 72)

In [13]:
msf2 = msf/(1-albedo2)

Let's combine the data together for ten time samples, with full latitude and longitude:

In [14]:
e_t = [] #equator input and output
#input:
for k in range(10): #10 days
    for i in range(36):
        for j in range(72):
            input_array = list(d_c[k,:,i,j]) #add dust profile
            input_array.append(tsf[k,i,j]) #add top solar flux, without the albedo factor
            input_array+=list(msf2[k,:,i,j])            
            e_t.append(input_array) #appends input to input array
            
'''            
e_t = [] #equator input and output
#input:
for k in range(10): #10 days
    for j in range(72):
        input_array = list(d_c[k,:,18,j]) #add dust profile
        input_array.append(tsf[k,18,j]) #add top solar flux, without the albedo factor
        input_array+=list(msf2[k,:,18,j])            
        e_t.append(input_array) #appends input to input array
'''

'            \ne_t = [] #equator input and output\n#input:\nfor k in range(10): #10 days\n    for j in range(72):\n        input_array = list(d_c[k,:,18,j]) #add dust profile\n        input_array.append(tsf[k,18,j]) #add top solar flux, without the albedo factor\n        input_array+=list(msf2[k,:,18,j])            \n        e_t.append(input_array) #appends input to input array\n'

In [15]:
e_t = np.array(e_t)
e_t.shape

(25920, 106)

In [16]:
pd.DataFrame(e_t)

,0,1,2,3,4,5,6,7,8,9,...,96,97,98,99,100,101,102,103,104,105
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25915,0.120338,0.119857,0.119135,0.117931,0.116728,0.115525,0.114321,0.113118,0.111914,0.110711,...,23.822267,24.082092,24.250631,24.408275,24.552491,24.686645,24.797240,24.768083,24.674802,24.680403
25916,0.120377,0.119895,0.119173,0.117969,0.116766,0.115562,0.114358,0.113154,0.111951,0.110747,...,23.737461,23.999180,24.169640,24.330240,24.478124,24.616664,24.734475,24.723164,24.653731,24.676865
25917,0.120411,0.119929,0.119207,0.118003,0.116799,0.115594,0.114390,0.113186,0.111982,0.110778,...,23.651329,23.914892,24.087216,24.250707,24.402194,24.544996,24.669851,24.676575,24.631179,24.671498
25918,0.120440,0.119959,0.119236,0.118032,0.116827,0.115623,0.114418,0.113214,0.112010,0.110805,...,23.564726,23.830084,24.004210,24.170501,24.325491,24.472400,24.604066,24.628879,24.607518,24.664526
25919,0.120465,0.119983,0.119260,0.118056,0.116851,0.115646,0.114442,0.113237,0.112033,0.110828,...,23.478274,23.745356,23.921207,24.090194,24.248565,24.399389,24.537596,24.580411,24.582893,24.655968

In [17]:
e_d = pd.DataFrame(e_t) 
e_d = e_d[e_d.iloc[:,52] != 0] #remove 0 flux, could later use a simple classifier to determine which data has 0 bottom flux...

In [18]:
e_d

,0,1,2,3,4,5,6,7,8,9,...,96,97,98,99,100,101,102,103,104,105
2592,0.074773,0.074461,0.073992,0.073209,0.072426,0.071643,0.070858,0.070073,0.069288,0.068501,...,7.455282,7.449640,7.434130,7.400159,7.326935,7.199064,6.994633,6.681824,6.308426,6.020849
2593,0.074851,0.074538,0.074069,0.073286,0.072502,0.071718,0.070933,0.070147,0.069360,0.068573,...,7.482054,7.472820,7.454926,7.419266,7.345889,7.219541,7.018712,6.712713,6.334166,6.036292
2594,0.074881,0.074568,0.074098,0.073315,0.072531,0.071746,0.070961,0.070175,0.069388,0.068601,...,7.511494,7.498810,7.478646,7.441470,7.368315,7.244140,7.047822,6.749807,6.366486,6.057419
2595,0.074862,0.074549,0.074080,0.073297,0.072513,0.071729,0.070943,0.070158,0.069371,0.068583,...,7.543548,7.527582,7.505274,7.466758,7.394200,7.272840,7.081929,6.793053,6.405360,6.084220
2596,0.074796,0.074483,0.074014,0.073232,0.072448,0.071665,0.070880,0.070095,0.069309,0.068522,...,7.578126,7.559072,7.534765,7.495096,7.423509,7.305591,7.120966,6.842379,6.450748,6.116677
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25915,0.120338,0.119857,0.119135,0.117931,0.116728,0.115525,0.114321,0.113118,0.111914,0.110711,...,23.822267,24.082092,24.250631,24.408275,24.552491,24.686645,24.797240,24.768083,24.674802,24.680403
25916,0.120377,0.119895,0.119173,0.117969,0.116766,0.115562,0.114358,0.113154,0.111951,0.110747,...,23.737461,23.999180,24.169640,24.330240,24.478124,24.616664,24.734475,24.723164,24.653731,24.676865
25917,0.120411,0.119929,0.119207,0.118003,0.116799,0.115594,0.114390,0.113186,0.111982,0.110778,...,23.651329,23.914892,24.087216,24.250707,24.402194,24.544996,24.669851,24.676575,24.631179,24.671498
25918,0.120440,0.119959,0.119236,0.118032,0.116827,0.115623,0.114418,0.113214,0.112010,0.110805,...,23.564726,23.830084,24.004210,24.170501,24.325491,24.472400,24.604066,24.628879,24.607518,24.664526
25919,0.120465,0.119983,0.119260,0.118056,0.116851,0.115646,0.114442,0.113237,0.112033,0.110828,...,23.478274,23.745356,23.921207,24.090194,24.248565,24.399389,24.537596,24.580411,24.582893,24.655968

This function splits the training data, into n_split groups, according to percentiles of a value located at special index s_index. Then, it trains n_split regressors, each on its respective group, and then outputs these. The ith regressor is trained on the data containing 100(i/n_split) to 100((i+1)/n_split) percentiles of the value located at s_index.

In [19]:
from sklearn.linear_model import LinearRegression


def sat(training_data, n_split, s_index): 
    regressor_list = []
    training_data = np.array(training_data)
    
    for i in range(n_split): #splitting training data
        upper_bound = np.percentile(training_data[:,s_index], (i+1) * 100/n_split)
        lower_bound = np.percentile(training_data[:,s_index], i * 100/n_split)
        i_data = training_data[training_data[:,s_index] < upper_bound]
        i_data = i_data[i_data[:,s_index] >= lower_bound]
        train_in = i_data[:,:53] #training input
        train_out = i_data[:,53:] #training output
        lri = LinearRegression() #linear regression i
        lri.fit(train_in,train_out)
        regressor_list.append(lri)
    
    return regressor_list

This function predicts the output according to the n_split regressors, where the ith regressor is used on the data containing 100(i/n_split) to 100((i+1)/n_split) percentiles of the value located at s_index.

In [20]:
def s_predict(in_data, reg_list, s_index): #predict the output using previously obtained linear regressor list
    in_data = np.array(in_data)
    out_data = []
    for instance in in_data:
        for i in range(len(reg_list)):
            upper_bound = np.percentile(in_data[:,s_index], (i+1) * 100/len(reg_list))
            lower_bound = np.percentile(in_data[:,s_index], i * 100/len(reg_list))
            if instance[s_index] < upper_bound and instance[s_index] >= lower_bound:
                out_data.append(reg_list[i].predict(instance[:53].reshape(1,-1))[0]) #predicts using a certain regressor
        if(instance[s_index] == np.max(in_data[:,s_index])): #the search right above ignores the absolute maximum element
            out_data.append(reg_list[-1].predict(instance[:53].reshape(1,-1))[0]) #uses lin reg for largest elements
    return np.array(out_data)

In [21]:
lr_list = sat(e_d, 10, 52) #linear regressor list, let's try 10 regressors
custom_out = s_predict(e_d, lr_list, 52)

In [22]:
#rlr_list = satr(e_d, 10, 52) #relative error minimizing linear regressor list
#custom_out2 = s_predict(e_d, rlr_list, 52)

In [23]:
total_in = e_d.iloc[:,:53] #total input
total_out = e_d.iloc[:,53:] #total output

In [24]:
custom_out.shape

(23328, 53)

In [25]:
from sklearn.metrics import mean_squared_error

lin_mse = mean_squared_error(total_out, custom_out)
lin_rmse = np.sqrt(lin_mse)
print("Error for RMSE minimizing regressors:" + str(lin_rmse)) #great!
#lin_rel = mean_squared_error(total_out, custom_out2)
#lin_rel = np.sqrt(lin_rel)
#print("Error for relative error minimizing regressors:" + str(lin_rel)) #slightly higher but still pretty low

Error for RMSE minimizing regressors:1.7788553488970473

Area integration of error:

In [26]:
def int_err(pred, real, real_in, r): 
    areas = []
    for i in range(len(real)):
        dA =  -r**2 * np.sin((np.pi/36)*((real_in.index[i]//72)%36)) * (np.pi/36) * (np.pi/36)  #area increment
        areas.append(dA)
    areas = np.array(areas)
    areas2 = np.zeros([len(areas),real_in.shape[1]])
    for i in range(53):
        areas2[:,i] = areas #need height dimension too
    return np.sum((np.array(pred) - np.array(real))*areas2)

In [27]:
total_in.shape[1]

53

In [28]:
err1 = int_err(custom_out, total_out, total_in, 3.39e6) #the integral of the error for the whole atmosphere
np.array(err1)/(1.44e14)/10/53

0.008011883261935653

The error is divided by surface area of mars, number of time samples, number of atmosphere to get normalized flux error for single time sample, for a single cell. This is pretty good!

In [ ]:
#err2 = int_err(custom_out2, total_out, total_in, 3.39e6) #the integral of the error
#np.array(err2)/(1.44e14)/10 #about 25 times larger, still really small! This is in W/m^2 units.

## Plotting data:

In [ ]:
all_indices = total_in.index
ti_indices = all_indices[all_indices > 5*36*72] 
ti_indices = ti_indices[ti_indices < 6 *36*72] 
ti_indices #ith time snapshot indices for latitude/longtitude map, currently set to 6th time snapshot

In [ ]:
total_out = np.array(total_out)
full_out_contour = np.full((36, 72), np.nan)
full_pred_contour = np.full((36, 72), np.nan)
#full_pred_contour2 = np.full((36, 72), np.nan)
for index in ti_indices:
    lat_point = index//72 - 36*5
    long_point = index%72 - 1*72
    full_out_contour[lat_point][long_point] = total_out[np.where(all_indices == index)]
    full_pred_contour[lat_point][long_point] = custom_out[np.where(all_indices == index)]
    #full_pred_contour2[lat_point][long_point] = custom_out2[np.where(all_indices == index)]

In [ ]:
plt.contourf(full_out_contour)
plt.colorbar()
plt.title("Actual Bottom Solar Flux")
plt.xlabel("Longtitude")
plt.ylabel("Latitude")
plt.show()
plt.savefig("Actual")

### Plots for RMSE minimizing regressors:

In [ ]:
plt.contourf(full_pred_contour)
plt.colorbar()
plt.title("Predicted Bottom Solar Flux")
plt.xlabel("Longtitude")
plt.ylabel("Latitude")
plt.show()
plt.savefig("Predicted")

In [ ]:
plt.contourf(full_pred_contour - full_out_contour)
plt.colorbar()
plt.title("Difference")
plt.xlabel("Longtitude")
plt.ylabel("Latitude")
plt.show()

In [ ]:
plt.contourf((full_pred_contour - full_out_contour)/full_out_contour)
plt.colorbar()
plt.title("Relative Difference")
plt.xlabel("Longtitude")
plt.ylabel("Latitude")
plt.show() #some massive relative errors at the edge

### Plots for relative error minimizing regressors:

In [ ]:
plt.contourf(full_pred_contour2)
plt.colorbar()
plt.title("Predicted Bottom Solar Flux")
plt.xlabel("Longtitude")
plt.ylabel("Latitude")
plt.show()
plt.savefig("Predicted")

In [ ]:
plt.contourf(full_pred_contour2 - full_out_contour)
plt.colorbar()
plt.title("Difference")
plt.xlabel("Longtitude")
plt.ylabel("Latitude")
plt.show()

In [ ]:
plt.contourf((full_pred_contour2 - full_out_contour)/full_out_contour)
plt.colorbar()
plt.title("Relative Difference")
plt.xlabel("Longtitude")
plt.ylabel("Latitude")
plt.show() #small relative errors, nice